# DOCKER COMPOSE VARIABLES
DB_HOST=jeriel-db # LOCAL: localhost
DB_PORT=5432
DB_NAME=vhonneur
DB_USER=postgres
DB_PASSWORD=postgres

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

#AUTH
ARGON_SECRET_KEY=
SUPER_ADMIN_PHONE=0101010101
SUPER_ADMIN_PASSWORD=remixiscool

# SESSION
# Generate a random string with openssl rand -hex 16
COOKIE_SECRETS= # Comma separated list of secrets

# SMTP
SMTP_HOST=localhost
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_FROM_NAME="Nobu Stack"

MESSAGE_SENDER_ID=JOWELL
LETEXTO_API_URL= "https://apis.letexto.com/v1/messages/send"
LETEXTO_API_TOKEN= # Letexto generated API key token


CHECK_CONFLICT_PATTERN='*/1 * * * *'

QUIRREL_TOKEN=votre_token
QUIRREL_BASE_URL=http://localhost:3000

MINIO_HOST=localhost
MINIO_BUCKET=jeriel
MINIO_PORT=9000
MINIO_ACCESS_KEY= # generate from minio console
MINIO_SECRET_KEY= # generate from minio console