services:
  jeriel-db:
    image: postgres:16-alpine
    restart: always
    container_name: jeriel-db
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - '5432:5432'
    volumes:
      - jeriel-postgres:/var/lib/postgresql/data
      # - jeriel-db-migration:/var/lib/postgresql/data

  jeriel-minio:
    image: minio/minio:latest@sha256:a1ea29fa28355559ef137d71fc570e508a214ec84ff8083e39bc5428980b015e
    container_name: jeriel-minio
    restart: on-failure
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: jeriel
      MINIO_ROOT_PASSWORD: jerielminio
    volumes:
      - jeriel-minio:/data
    command: server /data --console-address ":9001"

  jeriel-redis:
    image: redis/redis-stack:latest@sha256:c2019e98fd5abce4dd11feec004de44d1709d2366a6efa5ffb2bd0daf8f9c6a4
    container_name: jeriel-redis
    restart: on-failure
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'
    volumes:
      - jeriel-redis:/data

  jeriel-mailpit:
    image: axllent/mailpit@sha256:b1f1be18af530d939a11ee8820b379e0c88eeec204d904bfad68862adced3a5a
    container_name: jeriel-mailpit
    restart: on-failure
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      - MP_DATABASE=/data/mailpit.db
      - MP_MAX_MESSAGES=10000

    volumes:
      - jeriel-mailpit:/data

volumes:
  jeriel-postgres:
  # jeriel-db-migration:
  jeriel-minio:
  jeriel-redis:
  jeriel-mailpit:
